// Huge Screens
@media (min-width: 1200px) {
  #about-grid #about-a .about-info {
    .bio p {
      font-size: medium;
    }
  }
  #about-d .testimonials p {
    font-size: x-large;
  }
  #projects-a .item-text {
    &-title {
      font-size: x-large;
    }
    &-category {
      font-size: large;
    }

    &-description {
      font-size: small;
    }
  }
}

// Desktop
@media (min-width: 950px) and (max-width: 1200px) {
  #about-grid #about-a .about-info {
    .bio p {
      font-size: small;
    }
  }
  #projects-a .item-text {
    &-description {
      font-size: small;
    }
  }
}

//Tablets & Smaller
@media (min-width: 570px) and (max-width: 950px) {
  #main-nav {
    li {
      padding: 1rem 0.3rem;
    }
  }

  #main-grid #header-content {
    .header-content {
      grid-template-columns: minmax(auto, auto) minmax(auto, auto) minmax(
          auto,
          auto
        );
      grid-template-rows:
        minmax(auto, auto) minmax(auto, auto) minmax(auto, auto)
        minmax(auto, auto);
    }
  }
  #about-grid #about-a .about-info {
    .bio p {
      font-size: x-small;
    }
  }

  #projects-a .item-text-title {
    font-size: small;
  }
}

// Smartphones
@media (max-width: 570px) {
  #logo {
    align-items: center;
    justify-content: center;
  }
  #main-nav {
    flex-direction: column;
    align-items: center;
    padding: 0rem;
  }
  #main-grid #header-content {
    .header-content {
      grid-template-columns: 1fr minmax(300px, 300px) 1fr;
      grid-template-rows: 0.2fr 0.1fr minmax(300px, 300px) 0.75fr;
    }
    .grid-item {
      h1 {
        font-size: x-large;
      }
      p {
        font-size: smaller;
      }
    }
  }

  #main-grid #home,
  #about-grid #about,
  #projects-grid #projects,
  #contact-grid #contact {
    &-a,
    &-b,
    &-c,
    &-d {
      .text-fields {
        grid-template-areas:
          "fullname"
          "email"
          "subject"
          "phone"
          "message"
          "message"
          "recaptcha";
      }
      .about-logos {
        grid-template-columns: repeat(1, 1fr);
      }
      .about-info {
        grid-template-areas: "bio-image" "bio" "aw1" "aw2" "aw4";
        grid-gap: 3rem;

        .bio {
          border-right: none;
          border-bottom: 4px solid $main-color;
          border-radius: 10px;
          &-image {
            width: 40%;
            justify-self: center;
          }
        }
      }
      .process,
      .testimonials,
      .items,
      .specials {
        grid-template-columns: repeat(1, 1fr);

        .item-text {
          &-title {
            font-size: xx-large;
          }
          &-category {
            font-size: x-large;
          }

          &-description {
            font-size: medium;
          }
        }

        p,
        li {
          font-size: medium;
        }
      }
    }
  }

  // #projects-a .item-text {
  //   &-title {
  //     font-size: large;
  //   }
  //   &-category {
  //     font-size: medium;
  //   }

  //   &-description {
  //     font-size: x-small;
  //   }
  // }

  // Footer
  #main-footer {
    height: 7rem;

    .footer-content {
      flex-direction: column;
      justify-content: space-around;
      margin-top: 1rem;
    }
    .social {
      padding: 1rem;
    }
  }
}
