@import "config";
@import "utilities";
@import "item_grid";

//CSS Reset
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.4;
  background: #fff;
}

p {
  font-size: x-small;
}

//Remove underscores on links
a {
  text-decoration: none;
  color: $dark-color;
}

// Remove any bullet points
ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

//Logo
#logo {
  display: flex;
  width: 300px;
  height: 70px;
  color: #fff;

  div {
    margin: auto 0.3rem;

    &:hover {
      color: $main-color;
      cursor: pointer;
      transition: 1s;
    }
  }
}

//Main Nav
#main-nav {
  display: flex;
  justify-content: space-around;
  padding: 1rem;

  ul {
    display: flex;
  }
  li {
    padding: 1rem 1rem;
  }
  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    //Adding transparent border stops the text jumping up on hover
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $main-color;
      color: $main-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

#header {
  &-home {
    grid-area: header-nav;
    background: $bg-color;
    width: 100%;
    color: #fff;
    border-bottom: 5px solid $medium-color;
  }
  &-inner {
    background: $bg-color;
    border-bottom: 5px solid $medium-color;
  }
}

// Home Page Grid
#main-grid {
  display: grid;
  grid-template-areas: "header-nav" "header-content" "home-a" "home-b" "footer";
  background-color: $bg-color;

  //Header
  #header-content {
    grid-area: header-content;
    .header-content {
      display: grid;
      grid-template-columns: 2fr 4fr 2fr;
      grid-template-rows: 0.2fr 0.1fr 1fr 0.1fr;
      text-align: center;
      padding-top: 1%;
      background-color: $bg-color;
      color: set-text-color($bg-color);

      #prof-disc {
        grid-row: 1 / span 1;
        grid-column: 1 / span 3;
      }

      #prof-sum {
        grid-row: 2 / span 1;
        grid-column: 1 / span 3;
      }

      #showcase {
        background-color: $bg-color;
        background-image: $bg-image no-repeat center cover;
        grid-row: 3 / span 2;
        grid-column: 2 / span 1;
      }

      #pj-btn {
        grid-row: 4 / span 1;
        grid-column: 2 / span 1;
        display: block;
        justify-content: center;
        align-self: center;

        a {
          background-color: $medium-color;
          box-shadow: 0 8px 15px #493d47;

          &:hover {
            background-color: $main-color;
          }
        }
      }

      h1 {
        font-size: 3rem;
        line-height: 1.2;
      }
    }
  }

  // Home Sections
  #home {
    &-a {
      grid-area: home-a;
      background-color: $dark-color;
      color: $light-color;
      border-bottom: 5px solid $medium-color;
      border-top: 5px solid $medium-color;

      .specials {
        margin-top: 3rem;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(5, 1fr);

        .fas,
        .fab {
          color: $main-color;
          text-decoration: none;
        }
      }
    }

    // Home section B
    &-b {
      grid-area: home-b;
      background-color: $light-color;
      .process {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 1.5rem;
        text-align: center;

        // process-step
        &-step {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 28px;
          background-color: $main-color;
          color: set-text-color($main-color);
          border-radius: 50%;
          height: 15px;
          width: 15px;
          line-height: 15px;
          padding: 1rem;
          transition: all 1s;
        }

        // process-icon
        &-icon {
          border-radius: 50%;
          background-color: $dark-color;
          color: set-text-color($dark-color);
          padding: 2rem;
          width: 70px;
          line-height: 70px;
          text-align: center;
          position: relative;
          transition: all 1s;

          &:hover {
            background-color: $main-color;
            color: set-text-color($main-color);
            width: 90px;
            height: 90px;
            line-height: 90px;

            .process-step {
              background: $dark-color;
            }
          }
        }
      }
    }
  }
}

// About Sections
// Home Page Grid
#about-grid {
  display: grid;
  grid-template-areas: "header-nav" "about-a" "about-b" "about-c" "about-d" "footer";
  // Section A: Bio
  #about {
    &-a {
      grid-area: about-a;

      .about-info {
        display: grid;
        grid-template-areas:
          "bio bio bio-image"
          "aw1 aw2 aw4";
        grid-gap: 1.2rem;
      }

      // Grid Areas
      .bio-image {
        grid-area: bio-image;
        background-color: $bg-color;
        border: 6px $main-color solid;
        border-radius: 50%;
      }

      .bio {
        grid-area: bio;
        border-right: 6px solid $main-color;
        padding: 0.8rem;
        border-radius: 10px 0 0 10px;

        p {
          font-size: large;
        }
      }

      .award-1 {
        grid-area: aw1;
      }
      .award-2 {
        grid-area: aw2;
      }
      // .award-3 {
      // }
      .award-4 {
        grid-area: aw4;
      }

      .award-1 .fas,
      .award-2 .fas,
      .award-3 .fas,
      .award-4 .fas {
        color: $main-color;
        margin: 1rem;
      }
    }

    // About B
    &-b {
      grid-area: about-b;
      border-top: 5px solid $medium-color;

      .progress {
        overflow: hidden;
        height: 20px;
        background-color: $medium-color;
        border-radius: 5px;
        margin-bottom: 0.8rem;

        div {
          height: 100px;
          color: $light-color;
          text-align: center;
          background-color: $main-color;
        }
      }
    }

    //About C: Logos
    &-c {
      grid-area: about-c;
      border-top: 5px solid $medium-color;

      .about-logos {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 2rem;

        img {
          width: 70px;
          justify-self: center;
        }

        #sqlite {
          padding: 0.5rem 0;
        }

        #office {
          padding: 1.7rem 0;
        }
      }
    }

    // About D: Testimonials
    &-d {
      grid-area: about-d;
      border-top: 5px solid $medium-color;

      .testimonials {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;

        ul {
          list-style: none;
          margin-top: 1rem;
          display: grid;
          grid-template-rows: 1fr 0.3fr 0.3fr;
          align-items: center;
        }

        li {
          font-size: xx-small;
        }

        p {
          border: 1px solid $light-color;
          border-radius: 5px;
          padding: 0.5rem;
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 2px solid $main-color;
        }
      }
    }
  }
}

// Contact Page
#contact {
  &-a {
    .text-fields {
      display: grid;
      grid-template-areas:
        "fullname email"
        "subject phone"
        "message message"
        "recaptcha recaptcha";
      grid-gap: 1.2rem;
      padding: 1rem;
      margin-bottom: 1.2rem;
      background-color: $dark-color;
      border-radius: 10px;
      box-shadow: 0 4px 10px $dark-color;

      //Grid Areas
      .name-input {
        grid-area: fullname;
        border-radius: 5px;
      }
      .subject-input {
        grid-area: subject;
        border-radius: 5px;
      }
      .email-input {
        grid-area: email;
        border-radius: 5px;
      }
      .phone-input {
        grid-area: phone;
        border-radius: 5px;
      }
      .message-input {
        grid-area: message;
        height: 150px;
        border-radius: 5px;
      }
      .text-input {
        padding: 0.5rem 1rem;
      }
      .recaptcha {
        grid-area: recaptcha;
        margin: 0 auto;
      }
    }

    button[type="submit"] {
      width: 35%;
      box-shadow: 0 8px 15px rgba(0, 0, 0, 3);

      &:hover {
        color: $dark-color;
      }
    }
  }
}

// Footer
#main-footer {
  grid-area: footer;
  background: $dark-color;
  color: $light-color;
  height: 6rem;
  border-bottom: 5px solid $medium-color;
  border-top: 5px solid $medium-color;

  .footer-content {
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;

    .social .fab,
    .social .fas {
      display: inline-block;
      color: $light-color;
      margin-right: 1rem;
      border: 2px $medium-color solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background: $main-color;
        color: $dark-color;
      }
    }
  }
}

// Import Media Queries
@import "media";
